@media (max-width:400px) {
    .container{
        margin-top:2rem;
    }
    .text_input {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .task{
        display: block;
    }
    .task_descrip {
        height: 55px;
    }
    
    .task button {
        margin:0;
    }
    
    .btn {
        float:rigth;
        height:32px; 
        width:50%;
    }
    
}