* {
    box-sizing:border-box;
}

body {
    background-color: ;
    background: linear-gradient(to right, 	#008B8B , #00CED1);
    font-family: 'Catamaran', sans-serif;
}

.container {
    background: rgba(255,255,255, 0.5);
    width:40%;
    margin:auto;
    margin-top: 8rem;
    padding:17px;
    border-radius:6px;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

form {
    display:flex;
    flex-direction: column;    
}

label {
    font-size: 2rem;
    margin:auto;
    font-weight: bold;
}

.text_input {
    display: flex;  
    margin-top: 5px;
    font-size:1.2;
}

#task_to_add {
    font-family: inherit;
    border:none;
    padding:5px;
    flex-grow:4;
    font-size: inherit;
}

#btn_add {
    background: #008B8B;
    color:	#FFFFFF;
    font-family: inherit;
    border:none;
    padding:5px;
    flex-grow:1;
    font-size: inherit;
}

#btn_add:hover {
    background-color: #2F4F4F;
}

.list_with_tasks {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.task {
    display: flex;
    margin-top: 0;
    margin-bottom: 15px;
    align-content: stretch;
    align-items: center;
}

.task_descrip {
    flex-grow:4;
    background-color: rgb(255,255,255);
    padding-left: 10px;
    font-size: 18px;
    height: 48px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    display: flex;
    flex-direction: column;
}

.task_decrip::before {
    
}

.task_date {
    margin:0;
    font-size: 12px;
}

.task_text {
    margin: 0;
}

.btn_done {
    flex-grow:0.3;
    height: 48px;
    border:none;
    background-color:#FFD700;
}

.btn_done:hover {
    background-color:#ffe802;
}

.btn_dlt {
    flex-grow:0.3;
    height: 48px;
    border:none;
    background-color:#FF6347;
}

.btn_dlt:hover {
    background-color:#FF0000;
}

.fas {
    font-size: 20px;
    color:rgb(255,255,255);
}


